<script type="text/template" id="qq-template">
	<div class="qq-uploader-selector qq-uploader">
		<div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
			<span>Drop files here to upload</span>
		</div>
		<div class="qq-upload-button-selector qq-upload-button">
			{% if media_file %}
				<div>Replace current file</div>
			{% else %}
				<div>Upload a file</div>
			{% endif %}
		</div>
		<span class="qq-drop-processing-selector qq-drop-processing">
			<span>Processing dropped files...</span>
			<span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
		</span>
		<ul class="qq-upload-list-selector qq-upload-list">
			<li>
				<div class="qq-progress-bar-container-selector">
					<div class="qq-progress-bar-selector qq-progress-bar"></div>
				</div>
				<span class="qq-upload-spinner-selector qq-upload-spinner"></span>
				<span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
				<span class="qq-upload-file-selector qq-upload-file"></span>
				<input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
				<span class="qq-upload-size-selector qq-upload-size"></span>
				<a class="qq-upload-cancel-selector btn-small btn-warning" href="#">Cancel</a>
				<a class="qq-upload-delete-selector btn-small btn-warning" href="#">Delete</a>
				<a class="qq-upload-retry-selector btn-small btn-info" href="#">Retry</a>
				<a class="qq-upload-pause-selector btn-small btn-info" href="#">Pause</a>
				<a class="qq-upload-continue-selector btn-small btn-info" href="#">Continue</a>

				<span class="qq-upload-status-text-selector qq-upload-status-text"></span>
				<a class="view-btn btn-small btn-info hide" target="_blank">View</a>
			</li>
		</ul>
	</div>
</script>

<div id="file-uploader-{{hash}}">
    <noscript>
        <p>Please enable JavaScript to use file uploader.</p>
    </noscript>
</div>

{% if thumb %}
	<img src="{{thumb}}" alt="" style="float: left; padding-left: 4px;
	border-left: 1px solid #ccc; margin-top: 4px;">
{% endif %}

<script type="text/javascript">
	function readCookie(name) {
		var nameEQ = escape(name) + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];

			while (c.charAt(0) === ' ') c = c.substring(1, c.length);
			if (c.indexOf(nameEQ) === 0) return unescape(c.substring(nameEQ.length, c.length));
		}
		return null;
	};

	var csrftoken = readCookie('csrftoken');
    $(document).ready(function () {
		$('#file-uploader-{{hash}}').fineUploader({
			request: {
				endpoint: '/ajax_upload/',
				params: {
					'csrfmiddlewaretoken': csrftoken,
				}
			},
			chunking: {
				enabled: true
			},
			resume: {
				enabled: true
			},
			deleteFile: {
				enabled: true,
				method: 'DELETE',
				endpoint: "/ajax_delete",
				customHeaders: {
					'X-CSRFToken': csrftoken,
				}
			},
			validation: {
				itemLimit: 1,
				sizeLimit: 1500000000, // 1500.0 Mb
			}
		}).on('uploadChunk', function(event, id, name, response) {
			//console.log('chunk uploaded', id, name, response);
		})
		.on('complete', function(event, id, name, response) {
                var $fileEl = $(this).fineUploader("getItemByFileId", id),
                    $viewBtn = $fileEl.find(".view-btn");

                if (response.success) {
                    $viewBtn.show();
                    $viewBtn.attr("href", response.url);
					//var hiddenInput = $('fileName-{{hash}}');
					//if (hiddenInput.doesExist()) {
					//	hiddenInput.remove();
					//}
					//console.log(id, name, response);
					$("#file-uploader-{{hash}}")
						.append('<input type="hidden" name="uuid" value="'+response.uuid+'" id="uuid-{{hash}}">');
                }
		});
	});
</script>
