*.egg-info/
*.orig
*.pid
*.pyc
*.pyo
*.sql
*.sqlite3
*.sqlite3-journal
.coverage
.DS_Store
.eggs/
.git/
.tox/
bower_components/
djangosite/settings/local.py
docker-compose.override.yml
htmlcov/
node_modules/
var/
venv/
