**/*.egg-info/
**/*.idea/
**/*.orig
**/*.pyc
**/*.pyo
**/*.swp
**/.DS_Store
**/.eggs/
**/.git/
**/.tox/
**/bower_components/
**/node_modules/
djangosite/settings/local.py
docker-compose.override.yml
requirements-local.txt
static/
var/
venv/
