# http://editorconfig.org

# Define your preferred size for tab style indentation in your own
# `~/.editorconfig` file.

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,py,rst,txt}]
indent_size = 4
indent_style = space
