# Only include files that are actually generated or required by the project.

# For anything that is local to your environment, e.g. dotfiles created by your
# IDE, use your own `~/.gitignore_global` file.

*.egg-info/
*.py[co]
/.eggs/
/.tox/
/bower_components/
/djangosite/settings/local.py
/docker-compose.override.yml
/node_modules/
/requirements-local.txt
/static/
/var/
/venv/
