# Global.
*.egg-info/
*.py[co]
*~
.DS_Store
.svn/

# Project.
/bower_components/
/db.sqlite3
/public/media/
/public/static/
/secret.txt
/supervisord.log
/supervisord.pid
/venv/
/virtualenv/
/{{ project_name }}/settings/local.py

# Aptana, pycharm, pydev, etc.
.env
.idea
.project
.pydevproject
.settings*
