# Forked, pre-release, private, and vendored dependencies.

-e .

# -e git+ssh://git@bitbucket.org/the_ic/django-generic.git@master#egg=django-generic
# -e git+ssh://git@github.com/django/django.git@master#egg=django
# -e git+ssh://git@github.com/ixc/django-oembed.git@master#egg=django-oembed
# -e git+ssh://git@github.com/ixc/django-singletons.git@ixc#egg=django-singletons
# -e git+ssh://git@github.com/ixc/glamkit-adminboost.git@master#egg=glamkit-adminboost
# -e git+ssh://git@github.com/ixc/glamkit-smartlinks.git@master#egg=smartlinks
# -e git+ssh://git@github.com/ixc/ixc-core.git@master#egg=ixc-core
-e git+ssh://git@github.com/ixc/deployo.git@master#egg=deployo
-e git+ssh://git@github.com/ixc/django-compressor.git@ixc#egg=django-compressor
-e git+ssh://git@github.com/ixc/django-frontend-compiler.git@master#egg=django-frontend-compiler
-e git+ssh://git@github.com/ixc/django-model-settings.git@master#egg=django-model-settings
-e git+ssh://git@github.com/ixc/django-polymorphic-auth.git@master#egg=django-polymorphic-auth

# Vendor ######################################################################

# If you need to fork and hack on a dependency so extensively that it will only
# be usable by this project, pull it into the `vendor` folder in this project
# with `git subtree`:
#
#    $ mkdir -p vendor
#    $ git subtree add -P vendor/django git@github.com:django/django.git master --squash
#
# Then install them directly from the vendor directory::
#
#    -e ./vendor/django
#
# However, this should be avoided if at all possible, so that we can more
# easily contribute bug fixes and feature enhancements back upstream.
